body{
    width: 100%;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: blue;
}

#content{
    border-radius: 1%;
    margin-top: 5vh;
    width: 90%;
    padding-top: 10vh;
    background-color: rgba(255, 255, 255, 0.753);
}